*.suo
*.dll
VectorMathFSharp\UnitTestProject1\bin/
VectorMathFSharp/UnitTestProject1/bin/Debug/
VectorMathFSharp/UnitTestProject1/obj/Debug/
VectorMathFSharp/VectorMathFSharp/bin/Debug/
VectorMathFSharp/VectorMathFSharp/obj/Debug/
*.user
VectorMathFSharp/UnitTestProject1/bin/Release/UnitTestProject1.pdb
VectorMathFSharp/UnitTestProject1/bin/Release/VectorMathFSharp.exe
VectorMathFSharp/UnitTestProject1/bin/Release/VectorMathFSharp.pdb
VectorMathFSharp/UnitTestProject1/bin/Release/VectorMathFSharp.xml
VectorMathFSharp/UnitTestProject1/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
VectorMathFSharp/UnitTestProject1/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VectorMathFSharp/UnitTestProject1/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VectorMathFSharp/UnitTestProject1/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VectorMathFSharp/UnitTestProject1/obj/Release/UnitTestProject1.csproj.FileListAbsolute.txt
VectorMathFSharp/UnitTestProject1/obj/Release/UnitTestProject1.csprojResolveAssemblyReference.cache
VectorMathFSharp/UnitTestProject1/obj/Release/UnitTestProject1.pdb
VectorMathFSharp/VectorMathFSharp/bin/Release/FSharp.Core.xml
VectorMathFSharp/VectorMathFSharp/bin/Release/VectorMathFSharp.XML
VectorMathFSharp/VectorMathFSharp/bin/Release/VectorMathFSharp.exe
VectorMathFSharp/VectorMathFSharp/bin/Release/VectorMathFSharp.exe.config
VectorMathFSharp/VectorMathFSharp/bin/Release/VectorMathFSharp.pdb
VectorMathFSharp/VectorMathFSharp/bin/Release/test.bmp
VectorMathFSharp/VectorMathFSharp/obj/Release/VectorMathFSharp.exe
VectorMathFSharp/VectorMathFSharp/obj/Release/VectorMathFSharp.fsproj.FileListAbsolute.txt
VectorMathFSharp/VectorMathFSharp/obj/Release/VectorMathFSharp.pdb
VectorMathFSharp/UnitTestProject1/obj/Release/build.force
*.bmp
