*.suo
*.dll
VectorMathFSharp\UnitTestProject1\bin/
VectorMathFSharp/UnitTestProject1/bin/Debug/
VectorMathFSharp/UnitTestProject1/obj/Debug/
VectorMathFSharp/VectorMathFSharp/bin/Debug/
VectorMathFSharp/VectorMathFSharp/obj/Debug/
